/* Cores */
/* Tipografia */
/* Layout */
/* Reset */
* {
  margin: 0px;
  padding: 0px;
}

/*---------*/
body,
html {
  height: 100%;
  font-size: 15px;
}

.container {
  height: 98.5%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  position: relative;
  width: 930px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.content h2 {
  font-family: "Big Shoulders Display", monospace;
  font-size: 40px;
  text-transform: uppercase;
  padding: 40px 0 30px 0;
}

.content p {
  font-family: "Lexend Deca", monospace;
  font-weight: normal;
  margin-bottom: 80px;
}

.items {
  padding: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sedans {
  background-color: #e38826;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.suvs {
  background-color: #006970;
}

.luxury {
  background-color: #004241;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.learn-more {
  border: 2px solid #fff;
  text-transform: capitalize;
  text-align: center;
  border-radius: 25px;
  font-size: 15px;
  padding: 15px 30px;
  background-color: #fff;
  cursor: pointer;
}

.learn-more:hover {
  background-color: transparent;
}

.sedans .learn-more {
  color: #e38826;
}

.sedans .learn-more:hover {
  color: #fff;
}

.suvs .learn-more {
  color: #006970;
}

.suvs .learn-more:hover {
  color: #fff;
}

.luxury .learn-more {
  color: #004241;
}

.luxury .learn-more:hover {
  color: #fff;
}

/* Responsividade */
@media only screen and (max-width: 475px) {
  body,
  html {
    height: 1530px;
  }
  .container {
    height: 100%;
  }
  .content {
    position: absolute;
    width: 325px;
    top: 5%;
    margin-bottom: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sedans {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 0%;
  }
  .luxury {
    border-top-right-radius: 0%;
    border-bottom-left-radius: 2%;
  }
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #f2f2f2;
}

.attribution a {
  color: #3e52a3;
}
