/* Cores */
$white: #fff;
$black: #000;
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75); // parágrafos
$very-ligh-gray: hsl(0, 0%, 95%); // backgrounds, headings, buttons

/* Tipografia */
$font-size: 15px;
$font-1: "Lexend Deca", monospace;
$font-2: "Big Shoulders Display", monospace;

/* Layout */
$container: 1440px;
$mobile: 375px;
