@import "variaveis";

/* Reset */

* {
  margin: 0px;
  padding: 0px;
}

/*---------*/

body,
html {
  padding: 0 20px;
  height: 100%;
  font-size: $font-size;
  background-color: $very-ligh-gray;
}

.container {
  height: 98.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  width: 930px;
  height: 500px;
  display: flex;
  color: $white;
  h2 {
    font-family: $font-2;
    font-size: 40px;
    text-transform: uppercase;
    padding: 40px 0 30px 0;
  }
  p {
    font-family: $font-1;
    font-weight: normal;
    margin-bottom: 80px;
  }
}

.items {
  min-width: 200px;
  padding: 50px;
  flex: 1;
}

.sedans {
  background-color: $bright-orange;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.suvs {
  background-color: $dark-cyan;
}

.luxury {
  background-color: $very-dark-cyan;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.learn-more {
  border: 2px solid $white;
  text-transform: capitalize;
  text-align: center;
  border-radius: 25px;
  font-size: 15px;
  padding: 15px 30px;
  background-color: $white;
  cursor: pointer;
  &:hover {
    background-color: transparent;
  }
}

.sedans .learn-more {
  color: $bright-orange;
  &:hover {
    color: $white;
  }
}

.suvs .learn-more {
  color: $dark-cyan;
  &:hover {
    color: $white;
  }
}

.luxury .learn-more {
  color: $very-dark-cyan;
  &:hover {
    color: $white;
  }
}

/* Responsividade */

@media only screen and (min-width: 476px) and (max-width: 846px) {
  body,
  html {
    height: 1460px;
  }

  .container {
    height: 100%;
  }

  .content {
    position: absolute;
    flex-direction: column;
    width: 400px;
    top: 5%;
    margin-bottom: 10px;
  }

  .sedans {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 0%;
  }

  .luxury {
    border-top-right-radius: 0%;
    border-bottom-left-radius: 2%;
  }
}

@media only screen and (max-width: 475px) {
  body,
  html {
    height: 1530px;
  }

  .container {
    height: 100%;
  }

  .content {
    position: absolute;
    flex-direction: column;
    width: 325px;
    top: 5%;
    margin-bottom: 10px;
  }

  .sedans {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 0%;
  }

  .luxury {
    border-top-right-radius: 0%;
    border-bottom-left-radius: 2%;
  }
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: $very-ligh-gray;
  a {
    color: hsl(228, 45%, 44%);
  }
}
